greenery-28.jpg - Shortcut
histroy.csv
model_loader.py
f3.py
FILE.csv
model1.pkl
model2.pkl
ory.jpg
oryza.py
seque.fasta
sq.aln
sq.fasta
tempCodeRunnerFile.py
th(1).jpg
web1.py
x.py
f1.py
f2.py
CONTACT.docs - Shortcut
.venv/
_pycache_/