body {
    font-family: Arial, sans-serif;
    background-color:#FAF0E4;
}

/* Header Styles */
header {
    padding: 20px;
    text-align: right;
    color: #fff;
    margin:0;
}


h1 {
    color:yellow;
    margin: 0;
    font-size: 28px;
    text-align:center;
}

/* Form Styles */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #E1AEFF;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border:2px solid;
    border-radius:2px;
    cursor: pointer;
}

/* Result Styles */
.result-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #E1AEFF;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


h3 {
    margin-top: 0;
    font-size: 20px;
    color: #333;
}

p {
    color: #777;
}

/* Navigation menu styles */
header {
    background-color: #321;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #555;
}